
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form action="SaySquare" method="post">
        <p>Enter the number to square: <input name="inputNumber" type="number" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>
        The square of the input is : @Model
    </p>
</div>