@model DateTime
@{
    ViewBag.Title = "Index";
}
<h2>Dates</h2>
<div>
    <form action="DateMagic" method="post">
        <p>Enter your birthday: <input name="inputBirthday" type="date" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>            Your birthday is: @Model</p>
</div>

