
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form action="SayHello" method="post">
        <input name="inputString" />
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>